body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #68B41D;
}

form {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.masthead {
    position: relative;
    text-align: center;
    background-image: url("../img/train/background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 62.7vh;
    padding-top: 10rem;
    padding-bottom: 12.5rem;
    overflow: hidden;
}

.masthead::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.masthead .container {
    top: 150px;
    gap: 32px;
    position: relative;
    z-index: 2;
    color: #ffffff;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.container-fluid {
    padding: 58px!important;
}

h4 {
    font-size: 48px;
    font-weight: 700;
    color: #c4d4d4  ;
}

h5 {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}

button {
    cursor: pointer;
    background-color: #dd8100;
    border: none;
    width: 280px;
    height: 48px;
    border-radius: 5px;
}

button:hover {
    background-color: #c97500;
    transition: 0.3s;
}

.link {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}



.content-model {
    padding: 58px ;
}

.header-model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.start {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 12px;
    font-weight: 700;
    cursor: pointer;
    background-color: #68B41D;
    color: #fff;
    border: none;
    width: 200px;
    height: 48px;
    border-radius: 5px;
}
    
.start:hover {
    background-color: #5a9b18;
    transition: 0.3s;
}

nav {
    background-color: #68B41D;
    height: 80px;
}

.file-drop-area {
    position: relative;
    /* width: 100%; */
    padding: 30px 20px;
    border: 2px dashed #68B41D;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #69b41d12;
    margin: 58px;
  }

  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .file-drop-area .dragover {
    background-color: #f0f0f0;
  }

@media screen and (max-width: 768px) {

    .container {
        gap: 12px !important
    }


    button {
        font-size: 16px !important;
        width: 260px !important;
        height: 40px !important
    }

    .container-fluid {
        padding: 0 58px!important;
    }
}

@media screen and (max-width: 520px) {

    .container {
        gap: 40px !important
    }
}

@media screen and (max-width: 575px) {
    .content-model {
        padding: 24px;
    }

    .container-fluid {
        padding: 0 24px!important;
    }    
}