<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="masthead">
        <div class="container">
            <h4>Bem-vindo ao Sistema de Detecção de Doenças em folhas da Melancias</h4>
            <h5>Clique no botão abaixo para prosseguir para a detecção de doenças em folhas de melancia.</h5>
            <button>
                <a class="link" href="/detecao">Iniciar Detecção</a>    
            </button>
        </div>
    </div>
</body>
</html>


